<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Application</title>

    <link rel="stylesheet" href="{{url_for('static',filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class="p-3 mb-2 bg-dark text-white">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Review Read AI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> 
      <div style="margin-top: 20px; margin-left: 50px;">
        <img src="../static/images/Png.png" alt="RTX 3060" width = "40%">
      </div>
      <div style="margin-top: -600px; margin-left: 900px; margin-right: 50px;">

        <form method="post">
            <div class="form-group">
                <span style="font-size: large;" class="badge bg-success">Positive Reviews : {{data.positive}}</span>
                &nbsp;&nbsp;&nbsp;
                <span style="font-size: large;" class="badge bg-danger">Negative Reviews : {{data.negative}}</span>
                <br><br><br>
                <h3>Enter Your Comment</h3>
                <textarea class="form-control" name="Textarea" rows="5"></textarea>
                <button style="margin-top: 20px; padding-left: 50px; padding-right: 50px;" type="submit" class="btn btn-primary">Submit</button>
              </div>
        </form>
        <div style="margin-top: 20px;">
            {%for review in data.reviews%}

            <div class="card text-white bg-secondary mb-3" style="margin-right: 20px;">
                <div class="card-body">
                  <p class="card-text">{{review}}</p>
                </div>
              </div>

            {% endfor %}
        </div>
      </div>
</body>
</html>